<a href="https://colab.research.google.com/github/gokulganesh11/python-practice/blob/main/sampleprogram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**To print letters and its occurence count to a given string **

In [ ]:
to_string="gokulganesh"
temp=""
for rule in to_string:
  if rule not in temp:
    print (rule, to_string.count(rule))
    temp=temp+rule

**fibonacci series**

In [ ]:
num_1=0
num_2=1
for i in range(7):
  num_3=num_1+num_2
  print(num_1)
  num_1=num_2
  num_2=num_3

**comparing two lists and finding same list**

In [ ]:
t1=["csk","mi","rr","rcb"]
t2=["rcc","vcc","csk","rcb"]

for x in t1: 
  for y in t2:
      if x==y:
        print(x)